/* ==========================================================================
   Брейки
   ========================================================================== */

$mobile: 767px;
$tabletPortraitMin: 768px;
$tabletPortraitMax: 1023px;
$tabletLandscapeMin: 1024px;
$tabletLandscapeMax: 1280px;
$desktopWide: 1770px;



/* ==========================================================================
   Шрифты
   ========================================================================== */

$fontMain: 'Oswald';
$fontDop: 'Inter';



/* ==========================================================================
   Прочее
   ========================================================================== */

$transition: all .25s ease;


/* ==========================================================================
   Цвета
   ========================================================================== */

$swamp: #0E302A;
$orange: #E30613;
$gray: #898989;

/* ==========================================================================
   Градиенты
   ========================================================================== */

$swamp-btn: linear-gradient(272.76deg, rgba(255, 255, 255, 0.3) 4.61%, rgba(0, 0, 0, 0) 95.39%), #0E302A;
$orange-btn: linear-gradient(272.76deg, rgba(0, 0, 0, 0.3) 4.61%, rgba(0, 0, 0, 0) 95.39%), #E30613;
$gray-btn: linear-gradient(272.76deg, rgba(0, 0, 0, 0.3) 4.61%, rgba(0, 0, 0, 0) 95.39%), #FFFFFF;