@import '../../../../css/common.scss';

.start{
    position: relative;

    .bg{
        max-width: 100%;
        width: 100%;
        display: flex;
        position: relative;
        min-height: calc(100vh - 99px);
        max-height: calc(100vh - 99px);
        @media only screen and (max-width: $mobile) {
            min-height: calc(100vh - 130px);
            max-height: calc(100vh - 130px);
        }
    }

    .text{
        z-index: 9999;
        bottom: 100px;
        position: absolute;
        max-width: 785px;
        width: 100%;
        min-height: 231px;
        @media only screen and (max-width: $mobile) {
            min-height: 105px;
            bottom: 50px;
        }

        .title{
            font-family: $fontMain;
            font-weight: 600;
            font-size: 55px;
            line-height: 140%;
            text-transform: uppercase;
            color: white;
            display: flex;
            flex-direction: column;
            @media only screen and (max-width: $mobile) {
                font-size: 29px;
                line-height: 120%;
            }

            span{
                .flagImg{
                    position: absolute;
                    left: 349px;
                    top: 5px;
                    @media only screen and (max-width: $mobile) {
                        left: 202px;
                        top: 5px;
                        max-width: 41px;
                    }
                }
            }
        }
        
    }
}