@import "../../../../../css/common";

.btns{
    position: absolute;
    bottom: 100px;
    right: 200px;
    display: flex;
    align-items: center;
    gap: 31px;
    @media only screen and (max-width: $mobile) {
        gap: 10px;
        bottom: 125px;
        right: 20px;           
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background: inherit;
        border: 1px solid $swamp;
        width: 56px;
        height: 56px;
        transition: 0.2s;
        &:hover{
            background: white;
            svg{
                path{
                    fill: #0E302A;
                }
            }
        }
        svg{
            path{
                fill: $swamp;
            }
        }
        @media only screen and (max-width: $mobile) {
            width: 45px;
            height: 45px;
        }
    }
}

.slider{
    position: absolute;
    max-width: 100%;
    
    .slide{
        background: $swamp;
        min-width: 465px;
        max-width: 465px;
        width: 100%;
        min-height: 400px;
        padding: 30px;
        position: relative;
        @media only screen and (max-width: $mobile) {
            max-width: 90%;
            min-width: auto;
            min-height: 346px;
            max-height: 346px;
            padding-top: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .date{
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            text-transform: uppercase;
            font-family: $fontDop;
            padding-bottom: 10px;
            border-bottom: 1px solid $orange;
            color: #CCCCCC;
            margin-bottom: 20px;
            @media only screen and (max-width: $mobile) {
                font-size: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid $orange;
            }
        }

        h4{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            font-family: $fontDop;
            margin-bottom: 20px;
            max-width: 405px;
            width: 100%;
            @media only screen and (max-width: $mobile) {
                font-size: 16px;
                line-height: 130%;
            }

            ul{
                margin: 0;
                margin-top: 20px;
                margin-left: 30px;
            }
        }

        .text{
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            max-width: 405px;
            width: 100%;
            font-family: $fontDop;
            @media only screen and (max-width: $mobile) {
                font-size: 16px;
                line-height: 130%;
            }
        }

        .location{
            display: flex;
            flex-direction: column;
            gap:10px;
            position: absolute;
            bottom: 94px;
            left: 30px;
            right: 30px;
            @media only screen and (max-width: $mobile) {
                left: 10px;
                right: 10px;
                bottom: 73px;
            }

            p{
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                text-transform: uppercase;
                color: #CCCCCC;
                font-family: $fontDop;
                @media only screen and (max-width: $mobile) {
                    font-size: 10px;
                }
            }
        }

        .period{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            height: 44px;
            @media only screen and (max-width: $mobile) {
                left: 10px;
                right: 20px;
                bottom: 23px;
            }

            p{
                font-weight: 600;
                font-size: 30px;
                line-height: 44px;
                text-transform: uppercase;
                color: #FFFFFF;
                @media only screen and (max-width: $mobile) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: 0.2s;
                position: absolute;
                right: 0px;
                font-family: $fontDop;
                &::after{
                    position: absolute;
                    width: 100%;
                    content: '';
                    height: 1px;
                    background: white;
                    left: 0;
                    bottom: -2px;
                }
                &:hover{
                    color: $orange;
                }
                @media only screen and (max-width: $mobile) {
                    font-size: 10px;
                }
            }

        }
    }
}